<div class="page-title">
  <h4>Order History</h4>
  <button #tooltip class="btn btn-small js-filter tooltipped"
          data-tooltip="Open filter"
          data-position="left"
          (click)="isFilterVisible = !isFilterVisible"
          [ngClass]="{'active': isFilterVisible, 'red': isFiltered()}">
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter [hidden]="!isFilterVisible"
                    (filter)="applyFilter($event)">
</app-history-filter>
<div *ngIf="!reloading; else reloadingBlock">
  <div *ngIf="!!orders.length; else empty">
    <app-history-list [orders]="orders"></app-history-list>
    <div class="center mb2">
      <button *ngIf="!loading; else loader" class="btn waves-effect grey darken-1 btn-small"
              [disabled]="lastOrderReached"
              (click)="onLoadMoreClick()">
        {{lastOrderReached ? 'All orders loaded' : 'Load more'}}
      </button>
      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
  <ng-template #empty>
    <div class="center">No orders yet</div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>

